.details {
    display: flex;
    gap: 30px;
    padding: 40px;
    background: #f6f7f2;
    margin: 30px;
    border-radius: 15px;
  }
  
  .details img {
    width: 400px;
    border-radius: 10px;
  }